.country-page {
  padding: 20px;
}

.country-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-field {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.search-icon {
  margin-right: 8px;
  color: #1976d2;
}

.add-btn {
  background-color: #1165db;
  color: #fff !important;
  text-transform: none !important;
  padding: 8px 20px !important;
  border-radius: 8px !important;
  transition: 0.2s ease-in-out;
}

.add-btn:hover {
  background-color: #1059bf;
}

/* .country-table-wrapper {
  width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
  border-radius: 8px;
} */

.country-table {
  table-layout: fixed;
  width: 100%;
}

.table-header {
  background-color: #1976d2;
  color: #fff;
}

.table-header th {
  color: #fff !important;
}

.cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MuiTableRow-root:hover {
  background-color: #f7f9fc !important;
}