.sidebar-container {
  display: flex;
  flex-direction: column;
}

.toggle-btn {
  margin: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  width: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: white;
  padding: 10px;
  height: 100vh;
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

.sidebar a {
  display: flex;
  align-items: center; /* Căn giữa icon & text theo trục dọc */
  gap: 10px; /* Khoảng cách giữa icon và text */
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.sidebar a:hover {
  background-color: #555;
}